In [1]:
import io
import pandas as pd

In [2]:
from google.colab import files
uploaded01 = files.upload()

Saving apple_no_date02.csv to apple_no_date02.csv

In [3]:
df01 = pd.read_csv(io.BytesIO(uploaded01['apple_no_date02.csv']))
df01

      Open    High     Low   Close    Volume
0   144.88  145.30  143.10  143.50  14277848
1   143.69  144.79  142.72  144.09  21569557
2   143.02  143.50  142.41  142.73  24128782
3   142.90  144.75  142.90  144.18  19201712
4   144.11  145.95  143.37  145.06  21090636
5   144.73  145.85  144.38  145.53  19781836
6   145.87  146.18  144.82  145.74  24884478
7   145.50  148.49  145.44  147.77  25199373
8   147.97  149.33  147.33  149.04  20132061
9   148.82  150.90  148.57  149.56  23793456
10  149.20  150.13  148.67  150.08  17868792
11  150.48  151.42  149.95  151.02  20922969
12  151.50  151.74  150.19  150.34  17243748
13  149.99  150.44  148.88  150.27  26252630

In [4]:
rng = pd.date_range(start="12/6/2021", end="12/24/2021", freq='B')
rng

DatetimeIndex(['2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09',
               '2021-12-10', '2021-12-13', '2021-12-14', '2021-12-15',
               '2021-12-16', '2021-12-17', '2021-12-20', '2021-12-21',
               '2021-12-22', '2021-12-23', '2021-12-24'],
              dtype='datetime64[ns]', freq='B')

Using CustomBusinessDay to generate US holidays calendar frequency

In [10]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

us_cal = CustomBusinessDay(calendar = USFederalHolidayCalendar())

rng = pd.date_range(start="12/6/2021", end="12/24/2021", freq=us_cal)
rng

DatetimeIndex(['2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09',
               '2021-12-10', '2021-12-13', '2021-12-14', '2021-12-15',
               '2021-12-16', '2021-12-17', '2021-12-20', '2021-12-21',
               '2021-12-22', '2021-12-23'],
              dtype='datetime64[ns]', freq='C')

In [11]:
df01.set_index(rng, inplace=True)
df01.head()

              Open    High     Low   Close    Volume
2021-12-06  144.88  145.30  143.10  143.50  14277848
2021-12-07  143.69  144.79  142.72  144.09  21569557
2021-12-08  143.02  143.50  142.41  142.73  24128782
2021-12-09  142.90  144.75  142.90  144.18  19201712
2021-12-10  144.11  145.95  143.37  145.06  21090636

AbstractHolidayCalendar

In [15]:

from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class myCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('My Birth Day', month=8, day=6),
    ]

my_bday = CustomBusinessDay(calendar= myCalendar())
pd.date_range('8/1/2021','8/31/2021', freq=my_bday)

DatetimeIndex(['2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05',
               '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12',
               '2021-08-13', '2021-08-16', '2021-08-17', '2021-08-18',
               '2021-08-19', '2021-08-20', '2021-08-23', '2021-08-24',
               '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-30',
               '2021-08-31'],
              dtype='datetime64[ns]', freq='C')

CustomBusinessDay

In [16]:
egypt_weekdays = "Sun Mon Tue Wed Thu"

b = CustomBusinessDay(weekmask=egypt_weekdays)

pd.date_range(start="12/6/2021",periods=20,freq=b)

DatetimeIndex(['2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09',
               '2021-12-12', '2021-12-13', '2021-12-14', '2021-12-15',
               '2021-12-16', '2021-12-19', '2021-12-20', '2021-12-21',
               '2021-12-22', '2021-12-23', '2021-12-26', '2021-12-27',
               '2021-12-28', '2021-12-29', '2021-12-30', '2022-01-02'],
              dtype='datetime64[ns]', freq='C')